@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');
:root {
  --color-main-green: #5cb85c;
  --color-main-blue: #6cb1f4;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  height: 100vh;
}

a {
  text-decoration: none;
  color: #000;
}

p {
  line-height: 1.7;
}

ul {
  list-style: none;
}

li {
  line-height: 2.2;
}

h1,
h2,
h3 {
  font-weight: 600;
  margin-bottom: 10px;
}

.app-container {
  text-align: center;
}

.login-container {
  background-image: url("https://images.unsplash.com/photo-1501854140801-50d01698950b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1575&q=80");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo a, .logo svg {
  color: #fff;
  font-size: 18px;
}
.logo svg {
  margin-right: 10px;
  font-size: 20px;
  transform: rotate(-25deg);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 60px;
  background-color: var(--color-main-green);
  
}

.header ul {
  display: flex;
  flex-direction: row;
}

.header ul li {
  margin: 0 10px;
}

.header ul li a {
  display: flex;
  align-items: center;
}

.header ul li a:hover {
  color: #777;
}

.header ul li a svg {
  margin-right: 5px;
}

.dashboard-container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}


.heading {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 50px;
  padding: 0 20px;
  color: #fff;
}

.heading p {
  color: #fff;
}

.alternative-text {
  color: #fff;
}

.alternative-text span {
  color: var(--color-main-green);
  text-decoration: underline;
  cursor: pointer;
}

.destination-container {
  width: 80%;
  margin: 0 auto;
}

.destinations {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  margin-top: 20px;
}

.destination-item {
  position: relative;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;  
  border-radius: 10px;
}

.destination-item img {
  width: 100%;
  height: 60%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-bottom: 15px;
}

.form
{
  width: 35%;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 10px;
}

.form-group input,
.form-group textarea,
.form-group select {
  width: 100%;
  padding: 12px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  margin-bottom: 10px;
  font-family: inherit;
}

.form-group label {
  text-align: left;
  display: block;
  margin: 0 0 5px 3px;
}

.btn {
  padding: 15px 20px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  appearance: button;
}

.btn-login {
  border: 1px solid var(--color-main-green);
  border-radius: 5px;
  background: var(--color-main-green);
  color: #fff;
  letter-spacing: 2px;
}

.btn-logout {
  border: 1px solid tomato;
  border-radius: 5px;
  background: #e94c3d;
  color: #fff;
  letter-spacing: 1.2px;
  font-size: 14px;
  padding: 12px 15px;
}

.btn-add-new {
  border: 1px solid #fff;
  border-radius: 5px;
  background: transparent;
  color: #fff;
  letter-spacing: 1.2px;
  font-size: 14px;
  padding: 12px 15px;
}

.btn-add-destination {
  border: 1px solid var(--color-main-green);
  border-radius: 5px;
  background: var(--color-main-green);
  color: #fff;
  letter-spacing: 2px;
}

.btn-book-now {
  border: 1px solid var(--color-main-green);
  border-radius: 5px;
  background: var(--color-main-green);
  color: #fff;
  letter-spacing: 2px;
  font-size: 14px;
  padding: 10px 15px;
  margin-top: 10px;
}

.btn-cancel {
  border: 1px solid tomato;
  border-radius: 5px;
  background: tomato;
  color: #fff;
  letter-spacing: 1.2px;
  font-size: 14px;
  padding: 12px 15px;
}

.btn svg {
  margin-right: 8px;
}

.btn-reverse {
  background: #fff;
  color: #000;
}

.btn-block {
  width: 100%;
  margin-bottom: 20px;
}

.btn:hover {
  transform: scale(0.98);
}

.btn-close-container {
  display: none;
  position: absolute;
  right: 20px;
  top: 20px;
  background-color: rgba(255, 99, 71, 0.79);
  color: #fff;
  font-size: 18px;
  padding: 3px 5px 1px 5px;
  border-radius: 5px;
}

.destination-item:hover .btn-close-container {
  display: block;
  cursor: pointer;
}


.loadingSpinnerContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingSpinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #000 transparent #555 transparent;
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
}

.footer {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 80px 0 50px 0;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 1025px) {
  .destinations {
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    margin-top: 20px;
  }

  .form {
    width: 60%;
  }
}

@media (max-width: 650px) {
  .destinations {
    grid-template-columns: 1fr;
    margin-top: 20px;
  }

  .form {
    width: 90%;
  }
}